#imHeader_pluginAppObj_04 {
  max-width: 100%;
}
#imHeader_pluginAppObj_04 .container {
  padding: 20px;
  text-align: center;
}
#imHeader_pluginAppObj_04 .imLoginC {
  display: inline-block;
  font-size: 10pt;
}
#imHeader_pluginAppObj_04 .imLoginBlockPulsante {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}
#imHeader_pluginAppObj_04 .loginfontSize {
  font-size: 10pt;
  text-align: center;
}
#imHeader_pluginAppObj_04 input.imLoginSubmit {
  cursor: pointer;
}
#imHeader_pluginAppObj_04 input.imLoginSubmit.btnCustomStyle {
  font-family: Lato;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  max-width: 100px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(221, 221, 221, 1);
}
#imHeader_pluginAppObj_04 input.imLoginSubmit.btnOptionStyle {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 1px 1px 1px 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#imHeader_pluginAppObj_04 .imTxtLogout {
  cursor: pointer;
  overflow: hidden;
}
#imHeader_pluginAppObj_04 .loginLabelCustomStyle {
  font-family: Lato;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 1);
}
#imHeader_pluginAppObj_04 .loginLabelOptionStyle {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
#imHeader_pluginAppObj_04 .imLoginBlock .loginInputCustomStyle {
  font-family: Lato;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  width: 100%;
  max-width: 100px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
#imHeader_pluginAppObj_04 .imLoginBlock .loginInputOptionStyle {
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 1px 1px 1px 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#imHeader_pluginAppObj_04 .imLoginBlock .loginInputDefaultStyle {
  width: 100%;
  max-width: 100px;
}
#imHeader_pluginAppObj_04 .imLogoutAnchor {
  opacity: 0;
}
#imHeader_pluginAppObj_04 .imLogoutAnchor.defaultStyle {
  background-color: rgba(230, 141, 36, 1);
      transition: background-color 0.2s linear;
      position: relative;
      display: inline-block;
      word-wrap: break-word;
      max-width: 100%;
      border: solid;
      border-color: rgba(55, 71, 79, 1);
      border-width: 0;
      border-radius: 0;
      padding: 10px 20px;
      color: black;
      text-decoration: none; /* Evita el subrayado si es un <a> */
}
#imHeader_pluginAppObj_04 .imLogoutAnchor.defaultStyle:hover  {  
  background-color: rgba(184, 113, 29, 1);
  cursor: pointer;
}
#imHeader_pluginAppObj_04 .imLogoutAnchor.customStyle {
  color: inherit;
  text-decoration: inherit;
  display: block;
  font-family: Lato;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  vertical-align: bottom;
}
#imHeader_pluginAppObj_04 .imLogoutAnchor.customOption {
  display: inline-block;
  text-align: center;
  max-width: 100%;
  width: 100px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-width: 1px 1px 1px 1px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
